<!DOCTYPE html>

<html>
  <head>
    <title>Mobile Development with Phonegap and HTML5</title>
    <meta charset=utf-8>
    <script
      src="../slides.js"></script>
    <script src="../jquery-1.8.0.min.js"></script>
    <script>
	function print() {
	    $("body").css("background", "none");
	    $("article").removeClass("far-past");
	    $("article").removeClass("past");
	    $("article").removeClass("current");
	    $("article").removeClass("next");
	    $("article").removeClass("far-next");
	    $("*.to-build").removeClass("to-build");
	    $("article").css("display", "block");
	    $("article").css("top", "0");
	    $("article").css("left", "0");
	    $("article").css("margin", "0 0 9em 0");
	    $("article").css("position", "relative");
	}
    </script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
  </style>

  <body style="display: none">

    <section class='slides layout-regular template-default'>
      
      <article class=biglogo>
      </article>

      <article>
        <h1>
		Mobile Development<br>with Phonegap and HTML5
        </h1>
        <p>
          	Aleš Najmann, Application Developer
          <br>
          	Prague, August 2012
        </p>
      </article>

	<article class=smaller>
	<q>
		I took a course in speed reading and read 'War and Peace' in twenty minutes.
	</q>
	<q>
		It’s about Russia.
	</q>
	<div class=author>
		Woody Allen 
	</div>
	</article>
      
      <article>
        <h3>
		The State of the Web
        </h3>
	<ul class=build>
		<li>HTML without XML
		<li>CSS is 3
		<li>Javascript is (ECMAScript 5)...<br>...in every browser and phone...			
	</ul>
      </article>

      <article>
        <h3>
          HTML
        </h3>
	<p>Mission: to simplify the markup language and to depart from XHTML
        <ul>
	<li><code>&lt;!doctype html&gt;</code>, <code>&lt;meta charset=utf-8&gt;</code>
	<li>No need to use quotes on attribute values
	<li>New semantic elements and ARIA accessibility attributes
	<li>Data attributes: <code>&lt;span data-icon=nice&gt;</code>
	<li>No need to close pair elements: <code>&lt;b&gt;</code>, <code>&lt;br&gt;</code>...
	<li><code>&lt;a&gt;</code> can cover block element(s)
	<li>No need to specify <code>type</code> of the &lt;script&gt; and &lt;link&gt;
	<li>Descriptive link relations
	<li>New form features!
	</ul>
      </article>

      <article>
        <h3>
	  New HTML Forms
        </h3>
        <ul class=build>
	  <li>Form fields can have types
	  <li>New <code>&lt;input&gt;</code> types <br>
		<code>search</code>, <code>tel</code>, <code>url</code>, <code>email</code>,
		<code>datetime</code>, <code>date</code>, <code>month</code>, <code>week</code>,
		<code>datetime-local</code>, <code>number</code>, <code>range</code>,
		<code>color</code>
	  <li>Completely new form elements<br>
		<code>&lt;datalist&gt;</code>, <code>&lt;keygen&gt;</code>, <code>&lt;output&gt;</code>, 
		<code>&lt;progress&gt;</code>, <code>&lt;meter&gt;</code>
	  <li><strong>Note:</strong> on a mobile device the type can constrain virtual keyboard setting	  
          <li>See <a href="http://wufoo.com/html5">http://wufoo.com/html5</a>
        </ul>
      </article>

      <article>
	<h3>
		Fallbacks, Polyfills<br>How to deal with the legacy?
	</h3>

	<br>
	<p>
	<dfn>
	 Polyfill is downloadable code which provides facilities that are not built-in to a web browser.</dfn>	
	</p>
	
	<p><small>For example, many features of HTML5 are not supported by versions of Internet Explorer 
		older than version 8, but can be used by web pages if those pages install a polyfill.
		Polyfills can also be used to add entirely new functionality to browsers.</small>
	<p>
		Html5Forms polyfill: <a href=https://github.com/zoltan-dulac/html5Forms.js>html5Forms.js</a>
      </article>

      <article>
        <h3>
	  Cascading Style Sheets<br>What's new?
        </h3>
        <ul class=build>
	  <li>Fun with browser specific prefixes
		<strong>*sarcasm*</strong>
          <li>Rounded corners
	  <li>Multiple backgrounds
	  <li>Linear, radial and composed gradients
	  <li>Shadows
	  <li>RGBa, transluency, opacity
          <li>Fonts are new resources (+ icon fonts)
	  <li>Animations
        </ul>
      </article>

      <article>
        <h3>
          New Javascript APIs
        </h3>
	<p><strong>Note:</strong>
		Only those useful on mobile are listed 
        <ul class=build>
          <li>Storage: localStorage, webSql storage, IndexedDb
          <li>Workers for background processing, message passing
	  <li>Geolocation
	  <li>Device orientation
	  <li>Canvas
        </ul>
      </article>

      <article>
	<h3>Sources</h3>
	<ul>
	<li>HTML5Please: <a href=http://html5please.com>html5please.com</a>
	<li>CSS3Please: <a href=http://css3please.com>css3please.com</a>
	<li>Html5Rocks: <a href=http://html5rocks.com>html5rocks.com</a>, <a href=http://slides.html5rocks.com>slides</a>
	<li>HTML5test: <a href=http://html5test.com>html5test.com</a>
	<li>Vzhurudolu: <a href=http://vzhurudolu.cz/css3>vzhurudolu.cz/css3</a>
      </article>

      <article>
	<h1>Apache Cordova</h1>
	<p>It enables software programmers to build applications for mobile devices using JavaScript, HTML5 and CSS3, 
		instead of lower-level languages such as Objective-C, Java or C#</p>
	</article>

	<article>
	<h3>Features</h3>
	<ul>
		<li>Accelerometer
		<li>Camera
		<li>Compass
		<li>Contacts
		<li>File
		<li>Geolocation
		<li>Media
		<li>Network
		<li>Notification: Alert, Sound, Vibration
		<li>Storage
	</ul>
	</article>

	<article>
	<h3>
		Hybrid approach</h3>
	<h4>Pros</h4>
	<ul>
		<li>More generic development
		<li>Only minimum duplication
	</ul>
	<h4>Cons</h4>
	<ul>
		<li>Platform specific configuration and project files
		<li>Major browser quirks - Windows Phone, IE9
		<li>Minor browser quirks - different webkits, iOS, Android...
	</ul>
	</article>
		
	<article>
	  <h1>Getting hands dirty</h1>
	  <p> :)</p>
	</article>
			
	<article>
	  <h2>Sources</h2>
	  <ul>
		<li><a href=http://phonegap.com>Phonegap</a>
		<li><a href=http://cordova.apache.org>Apache Cordova</a>
		<li><a href=http://docs.phonegap.com/en/2.0.0/index.html>Documentation</a>, version 2.0
	  </ul>	
	</article>
	
  </body>
</html>
